* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
  min-height: 100%;
  overflow-x: clip;
  overflow-y: visible;
}

body {
  width: 100%;
  min-height: 100%;
  height: auto;
  overflow-x: clip;
  overflow-y: visible;
  background: #111411;
}

#root {
  width: 100%;
  min-height: 100vh;
}
